{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login History
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='spellcheck.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}

    <div class="container">

      <form class="form-spellcheck" method="POST" action="/login_history_page">
        <h2 class="form-spellcheck-heading">Please enter username</h2>
        {{ form.hidden_tag() }}
        {{ form.inputtext(size=9999) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        {% if loginhistory %}
            {% for i in loginhistory %}
            <p id="logid">Log ID: {{ i.LogID }}</p>
            <p id="username">User Name: {{ i.username }}</p>
            <p id="logintime">Log In Time: {{ i.LogInTime }}</p>
            <p id="logouttime">Log Out Time: {{ i.LogOutTime }}</p>
            {% endfor %}
        {% endif %}
      </form>

    </div>
{% endblock %}
